footer {
    background-color: #221e3f;
    padding-left: 10rem;
}

.footer-heading{
    margin-top: 5%;
}
.row{
    color: white;
    text-align: left;
}
.row-copy{
    color:white;
}

hr{
    background-color: black;
    
}

.schedule{
    font-size: 0.8rem;
}

.email {
    margin-bottom: 1.5rem;
}

